button.seat-available {
    background-color: #F7F8F8;
    color: #6b7280;
}

button.seat-selected {
    background-color: #1DD100 !important;
    color: #fff !important;
}

input:focus {
    outline: 2px solid #1DD100;
    outline-offset: 2px;
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

#successModal {
    align-items: center !important;
    justify-content: center !important;
}

.rt-route-btn {
    @apply bg-white border border-gray-300 px-5 py-3 rounded-xl text-sm font-semibold text-gray-700 hover:bg-black hover:text-white hover:border-black transition duration-200 shadow-sm;
}

.rt-time-btn {
    @apply bg-gray-100 border border-gray-300 px-4 py-2 rounded-lg text-sm font-bold text-gray-800 hover:bg-black hover:text-white hover:border-black transition duration-200;
}